# Temp files
*.tmp
*.bak
*.swp
*~.nib
*~

# IDE & System Related Files #
.buildpath
.project
.settings
.DS_Store
.idea


# Phing
build.properties
phing-latest.phar
.dist

#composer
vendor/

# Never ignore
!.gitignore
!index.html
!index.php